/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 31, 2014, 6:23:21 PM
    Author     : Melanie
*/

h1 {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 20vw;
}
b {
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
}

.btn-sample { 
  color: black; 
  background-color: transparent; 
  border-color: black; 
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
} 
 
.btn-sample:hover, 
.btn-sample:focus, 
.btn-sample:active, 
.btn-sample.active, 
.open .dropdown-toggle.btn-sample { 
  color: black; 
  background-color: transparent; 
  border-color: black; 
  font-weight: 900;
  border-width: 3px;
} 
.container-fluid {
    background-image: url(./notebook_back_2.jpg);
    background-size: cover;
}

html{
    background-image: url(./notebook_back_2.jpg);
    background-size: cover;
}


 
