.nav-glyphish-example .ui-btn {padding-top: 40px !important; }
.nav-glyphish-example .ui-btn:after { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }
#inbox-panel-flag:after {
    background:url("./Content/icons/material-design/png/thermostat1.png") 50% 50% no-repeat; 
    background-size: 24px 24px;
}

#inbox-panel-dismiss:after {
    background:url("./Content/icons/material-design/png/cancel19.png") 50% 50% no-repeat; 
    background-size: 24px 24px;
}

#inbox-panel-like:after {
    background:url("./Content/icons/material-design/png/thumb54.png") 50% 50% no-repeat; 
    background-size: 24px 24px;
}

#inbox-panel-dislike:after {
    background:url("./Content/icons/material-design/png/thumb53.png") 50% 50% no-repeat; 
    background-size: 24px 24px;
}

#chat-nav:after {
    background:url("./Content/icons/material-design/png/chat76-white-24.png") 50% 50% no-repeat; 
    background-size: 24px 22px;
}
#chat-nav-active{
    background-color: #2ad;
    border-color: #2ad;
    color: #fff;
    text-shadow: 0 1px 0 #08b;
}
#chat-nav-active:after {
    background:url("./Content/icons/material-design/png/chat76-white-24.png") 50% 50% no-repeat; 
    background-size: 24px 22px;
}
#email:after { 
    background:url("./Scripts/jquerymobile/demos/_assets/img/glyphish-icons/18-envelope.png") 50% 50% no-repeat; 
    background-size: 24px 16px;
}
#contact-nav:after { 
    background:url("./Content/icons/material-design/png/account4-white-24.png") 50% 50% no-repeat; 
    background-size: 24px 24px;
}
#contact-nav-active{
    background-color: #2ad;
    border-color: #2ad;
    color: #fff;
    text-shadow: 0 1px 0 #08b;
}
#contact-nav-active:after { 
    background:url("./Content/icons/material-design/png/account4-white-24.png") 50% 50% no-repeat; 
    background-size: 24px 24px;
}
#gear-nav:after { 
    background:url("./Content/icons/material-design/png/settings49-white-24.png") 50% 50% no-repeat;
    background-size: 24px 24px;
}


.contacts{
    height: 200px;
    width: 100%;
    position: absolute;
    background: white;
}
.inbox{
    height: 50%;
}

.inbox-panel{
    text-align: center;
}

inbox.h1{
    text-align: left;
}
inbox.p{
    padding-bottom: 20px;
}

.ui-page{
   background-image: url(./ink_back.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100% 100%;
   background-color: white;
}
.ui-page .ui-btn{
  font-family: 'Lobster Two', cursive;
}
.ui-page .ui-header {
    background: transparent !important;
}
.ui-page .ui-footer {
    background: transparent !important;
}

*{
   font-family: 'Lobster Two', cursive;
}